:root {
  --color-bg-footer: #414549;
  --color-text-footer: #bbb;
  --color-orange: #e74c3c;
}

.footer {
  background: var(--color-bg-footer);
  color:  var(--color-text-footer);
  padding: 20px 0;
}
.footer a {
  color: var(--color-text-footer);
  text-decoration: none;
}


.bg-footer {
  background-color: var(--color-bg-footer);
}

/* banner */
.banner {
  background: linear-gradient(135deg, #007bff, black);
  color: white;
  padding: 20px 0;
  text-align: center;
}
.banner h1 {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}

.advantage-box {
  text-align: center;
  padding: 20px;
}

/* product */
.product-card {
  transition: transform .2s;
}
.product-card:hover {
  transform: translateY(-5px);
}

/* phone */
.phone-link {
  display: inline-block;
  color: white;
  border: 2px solid white;
  padding: 3px 6px;
  border-radius: 15px;
  text-decoration: none;
}
.phone-link:hover {
  background: #0056b3;
}

/* social */
.social-links a {
  color: #0d6efd;
  font-size: 2.0rem;
  transition: color 0.2s;
  text-decoration: none;
}
.social-links a:hover {
  color: #0056b3;
}

/* замов консультацію */
.btn-orange {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
  color: white;
}
.btn-orange:hover {
  background-color: green;
  border-color: white;
}

/* кнопка замовлення */
.btn-order {
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: 50rem;
  box-shadow: var(--bs-box-shadow);
  border: none;
  padding: 0.5rem 1.25rem;
}
.btn-order:hover {
  background-color: var(--bs-primary-hover, #0b5ed7);
}

.old-price {
  border: 2px solid var(--color-orange);
  color: var(--color-orange);
  border-radius: 10px;
  padding: 0px 4px;
  text-decoration: line-through;
  display: inline-block;
}

/* прибираємо фон кнопки */
.accordion-button.no-bg {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}